<a href="https://colab.research.google.com/github/Ad2891/Slutuppgift-team12/blob/main/Slutuppgift.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Slutuppgift 1 - Identifying Employee Attrition

## The Problem Question

During this task, it is our goal to identify features of interest that can be used to predict the reasons for employee attrition. So the question used for this problem is:

>**How can prior indicators from features be used to predict if an employee is at risk of leaving the company?**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn

from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report

First we retrieve the data.

In [2]:
#Import .csv file and save in variable employee_data 
employee_data = pd.read_csv("/content/WA_Fn-UseC_-HR-Employee-Attrition.csv", sep=",")
employee_data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

## Converting string text into dummy variables

In order to see correlation between the features, we have to be able to compare the values. As many of the features contain text as a value, it difficult to do this comparison. To combat this, we use dummy variable in there place. As all the features that contain text use a predefine value, we are able to use dummy in their place as we know what values are found in each feature.

### Dummy for features with only two options

We are able to use an already existing function to convert the values of features "Gender", "Attrition", "OverTime" and "Over18" as these only contain values "Male" and "Female" for the "Gender" feature, and "Yes" and "No" for the others.

Something to note is that this will change the name of the columns to that of the old name and the first value in the column (ex. "Attrition" --> "Attrition_Yes"). We change that at the end of this section.

In [3]:
#Create dummy feature for the feature "Attrition" and then drop it
employee_data_attrition_dummy = pd.get_dummies(employee_data, columns=['Attrition'],
                                               drop_first=True)

In [4]:
#Create dummy feature for the feature "Gender" and then drop it
employee_data_attrition_gender_dummy = pd.get_dummies(employee_data_attrition_dummy,
                                                      columns=['Gender'], drop_first=True)

In [5]:
#Create dummy feature for the feature "Over18" and then drop it
employee_data_attrition_gender_over_dummy = pd.get_dummies(employee_data_attrition_gender_dummy, 
                         columns=['Over18'], drop_first=True)

Something to note is that the feature 'Over18' only contains one value ('Y') so the column will be dropped with no dummy feature taking its place. This isn't a problem as the feature would not have influenced our result.

In [6]:
#Create dummy feature for the feature "OverTime" and then drop it
employee_data_attrition_gender_over_time_dummy = pd.get_dummies(employee_data_attrition_gender_over_dummy, 
                         columns=['OverTime'], drop_first=True)

All that is left is to rename the now columns to their prior names.

In [7]:
employee_data_attrition_gender_over_time_dummy.rename(columns={'Attrition_Yes': 'Attrition',
                                                               'Gender_Male': 'Gender',
                                                               'OverTime_Yes': 'OverTime'},
                                                      inplace = True)

This is a tool tip for understanding the values:

>"Attrition": 1 = Yes, 0 = No
>
>"Gender": 1 = Male, 0 = Female
>
>"OverTime_Yes" = 1 = Yes, 0 = No

### Dummy for features with more then two options

As some features have more then two unique values in them, we cannot use the previous method. Instead, we will have change them manually. Each of the changes will occur in a new dataframe.

In [8]:
#Create a new dataframe from the previous dataframe 
employee_data_attrition_gender_over_time_business_dummy = employee_data_attrition_gender_over_time_dummy
#Create the dummy values from the available values
employee_data_attrition_gender_over_time_business_dummy.loc[
                employee_data_attrition_gender_over_time_business_dummy['BusinessTravel'] 
                == 'Travel_Rarely', 'BusinessTravel'] = 3
employee_data_attrition_gender_over_time_business_dummy.loc[
                employee_data_attrition_gender_over_time_business_dummy['BusinessTravel'] 
                == 'Travel_Frequently', 'BusinessTravel'] = 2
employee_data_attrition_gender_over_time_business_dummy.loc[
                employee_data_attrition_gender_over_time_business_dummy['BusinessTravel'] 
                == 'Non-Travel', 'BusinessTravel'] = 1

In [9]:
#Create a new dataframe from the previous dataframe 
employee_data_attrition_gender_over_time_business_dep_dummy = employee_data_attrition_gender_over_time_business_dummy
#Create the dummy values from the available values
employee_data_attrition_gender_over_time_business_dep_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_dummy['Department'] 
                == 'Sales', 'Department'] = 3
employee_data_attrition_gender_over_time_business_dep_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_dummy['Department'] 
                == 'Research & Development', 'Department'] = 2
employee_data_attrition_gender_over_time_business_dep_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_dummy['Department'] 
                == 'Human Resources', 'Department'] = 1

In [10]:
#Create a new dataframe from the previous dataframe 
employee_data_attrition_gender_over_time_business_dep_educ_dummy = employee_data_attrition_gender_over_time_business_dep_dummy
#Create the dummy values from the available values
employee_data_attrition_gender_over_time_business_dep_educ_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_dummy['EducationField'] 
                == 'Technical Degree', 'EducationField'] = 6
employee_data_attrition_gender_over_time_business_dep_educ_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_dummy['EducationField'] 
                == 'Other', 'EducationField'] = 5
employee_data_attrition_gender_over_time_business_dep_educ_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_dummy['EducationField'] 
                == 'Medical', 'EducationField'] = 4
employee_data_attrition_gender_over_time_business_dep_educ_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_dummy['EducationField'] 
                == 'Marketing', 'EducationField'] = 3
employee_data_attrition_gender_over_time_business_dep_educ_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_dummy['EducationField'] 
                == 'Life Sciences', 'EducationField'] = 2
employee_data_attrition_gender_over_time_business_dep_educ_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_dummy['EducationField'] 
                == 'Human Resources', 'EducationField'] = 1

In [11]:
#Create a new dataframe from the previous dataframe 
employee_data_attrition_gender_over_time_business_dep_educ_job_dummy = employee_data_attrition_gender_over_time_business_dep_educ_dummy
#Create the dummy values from the available values
employee_data_attrition_gender_over_time_business_dep_educ_job_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_job_dummy['JobRole'] 
                == 'Sales Representative', 'JobRole'] = 9
employee_data_attrition_gender_over_time_business_dep_educ_job_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_job_dummy['JobRole'] 
                == 'Sales Executive', 'JobRole'] = 8
employee_data_attrition_gender_over_time_business_dep_educ_job_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_job_dummy['JobRole'] 
                == 'Research Scientist', 'JobRole'] = 7
employee_data_attrition_gender_over_time_business_dep_educ_job_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_job_dummy['JobRole'] 
                == 'Research Director', 'JobRole'] = 6
employee_data_attrition_gender_over_time_business_dep_educ_job_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_job_dummy['JobRole'] 
                == 'Manufacturing Director', 'JobRole'] = 5
employee_data_attrition_gender_over_time_business_dep_educ_job_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_job_dummy['JobRole'] 
                == 'Manager', 'JobRole'] = 4
employee_data_attrition_gender_over_time_business_dep_educ_job_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_job_dummy['JobRole'] 
                == 'Laboratory Technician', 'JobRole'] = 3
employee_data_attrition_gender_over_time_business_dep_educ_job_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_job_dummy['JobRole'] 
                == 'Human Resources', 'JobRole'] = 2
employee_data_attrition_gender_over_time_business_dep_educ_job_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_job_dummy['JobRole'] 
                == 'Healthcare Representative', 'JobRole'] = 1

In [12]:
#Create a new dataframe from the previous dataframe 
employee_data_attrition_gender_over_time_business_dep_educ_job_rel_dummy = employee_data_attrition_gender_over_time_business_dep_educ_job_dummy
#Create the dummy values from the available values
employee_data_attrition_gender_over_time_business_dep_educ_job_rel_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_job_rel_dummy['MaritalStatus'] 
                == 'Single', 'MaritalStatus'] = 3
employee_data_attrition_gender_over_time_business_dep_educ_job_rel_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_job_rel_dummy['MaritalStatus'] 
                == 'Married', 'MaritalStatus'] = 2
employee_data_attrition_gender_over_time_business_dep_educ_job_rel_dummy.loc[
                employee_data_attrition_gender_over_time_business_dep_educ_job_rel_dummy['MaritalStatus'] 
                == 'Divorced', 'MaritalStatus'] = 1

In [13]:
#rename the last dataframe
employee_data_dummies = employee_data_attrition_gender_over_time_business_dep_educ_job_rel_dummy

These changes have not changed the dtype of the features so we will have to change it manually. Not doing this would mean a correlation could not be established.

In [14]:
employee_data_dummies = employee_data_dummies.astype({'Department' : int})
employee_data_dummies = employee_data_dummies.astype({'BusinessTravel' : int})
employee_data_dummies = employee_data_dummies.astype({'EducationField' : int})
employee_data_dummies = employee_data_dummies.astype({'JobRole' : int})
employee_data_dummies = employee_data_dummies.astype({'MaritalStatus' : int})

## Removing unnecessary features

As many of the features in the dataframe are linked others, it will require us to remove a number of them to reduce the redundance and avoid using the same variables twice in our prediction model. We have already removed 'Over18' as it only contained one unique variable. 'StandardHours' and 'EmployeeCount' have the same issue with only one unique value.

We can also use the function ".corr()" to see the correlation between features. Features that have a low value (<0.25) with any other feature **and** are not reflected in other features, will removed as we are not able to use them for our analysis.

In [15]:
pd.set_option('display.max_columns', None)
employee_data_dummies.corr()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,Gender,OverTime
Age,1.000000,0.024751,0.010661,-0.031882,-0.001686,0.208034,-0.040873,NaN,-0.010145,0.010146,0.024287,0.029820,0.509604,-0.122427,-0.004892,-0.095029,0.497855,0.028051,0.299635,0.003634,0.001904,0.053535,NaN,0.037510,0.680381,-0.019621,-0.021490,0.311309,0.212901,0.216513,0.202089,-0.159205,-0.036311,0.028062
BusinessTravel,0.024751,1.000000,-0.004086,-0.009044,-0.024469,0.000757,0.023724,NaN,-0.015578,0.004174,0.026528,0.039062,0.019311,0.002724,-0.033962,0.024001,0.034319,-0.014107,0.020875,-0.029377,-0.026341,-0.035986,NaN,-0.016727,0.034226,0.015240,-0.011256,-0.014575,-0.011497,-0.032591,-0.022636,0.000074,-0.032981,0.016543
DailyRate,0.010661,-0.004086,1.000000,0.007109,-0.004985,-0.016806,0.037709,NaN,-0.050990,0.018355,0.023381,0.046135,0.002966,-0.009472,0.030571,-0.069586,0.007707,-0.032182,0.038153,0.022704,0.000473,0.007846,NaN,0.042143,0.014515,0.002453,-0.037848,-0.034055,0.009932,-0.033229,-0.026363,-0.056652,-0.011716,0.009135
Department,-0.031882,-0.009044,0.007109,1.000000,0.017225,0.007996,0.013720,NaN,-0.010895,-0.019395,-0.004144,-0.024586,0.101963,0.662431,0.021001,0.056073,0.053130,0.023642,-0.035882,-0.007840,-0.024604,-0.022414,NaN,-0.012193,-0.015762,0.036875,0.026383,0.022920,0.056315,0.040061,0.034282,0.063991,-0.041583,0.007481
DistanceFromHome,-0.001686,-0.024469,-0.004985,0.017225,1.000000,0.021042,0.002013,NaN,0.032916,-0.016075,0.031131,0.008783,0.005303,-0.001015,-0.003669,-0.014437,-0.017014,0.027473,-0.029251,0.040235,0.027110,0.006557,NaN,0.044872,0.004628,-0.036942,-0.026556,0.009508,0.018845,0.010029,0.014406,0.077924,-0.001851,0.025514
Education,0.208034,0.000757,-0.016806,0.007996,0.021042,1.000000,-0.039592,NaN,0.042070,-0.027128,0.016775,0.042438,0.101589,0.004236,-0.011296,0.004053,0.094961,-0.026084,0.126317,-0.011111,-0.024539,-0.009118,NaN,0.018422,0.148280,-0.025100,0.009819,0.069114,0.060236,0.054254,0.069065,-0.031373,-0.016547,-0.020322
EducationField,-0.040873,0.023724,0.037709,0.013720,0.002013,-0.039592,1.000000,NaN,-0.002516,0.043163,-0.021941,-0.002655,-0.044933,0.015599,-0.034401,0.014420,-0.041070,-0.027182,-0.008663,-0.011214,-0.005614,-0.004378,NaN,-0.016185,-0.027848,0.049195,0.041191,-0.018692,-0.010506,0.002326,-0.004130,0.026846,-0.002504,0.002259
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeNumber,-0.010145,-0.015578,-0.050990,-0.010895,0.032916,0.042070,-0.002516,NaN,1.000000,0.017621,0.035179,-0.006888,-0.018519,-0.010336,-0.046247,-0.008155,-0.014829,0.012648,-0.001251,-0.012944,-0.020359,-0.069861,NaN,0.062227,-0.014365,0.023603,0.010309,-0.011240,-0.008416,-0.009019,-0.009197,-0.010577,0.022556,-0.024037
EnvironmentSatisfaction,0.010146,0.004174,0.018355,-0.019395,-0.016075,-0.027128,0.043163,NaN,0.017621,1.000000,-0.049857,-0.008278,0.001212,-0.017321,-0.006784,-0.003593,-0.006259,0.037600,0.012594,-0.031701,-0.029548,0.007665,NaN,0.003432,-0.002693,-0.019359,0.027627,0.001458,0.018007,0.016194,-0.004999,-0.103369,0.000508,0.070132
HourlyRate,0.024287,0.026528,0.023381,-0.004144,0.031131,0.016775,-0.021941,NaN,0.035179,-0.049857,1.000000,0.042861,-0.027853,-0.018861,-0.071335,-0.017861,-0.015794,-0.015297,0.022157,-0.009062,-0.002172,0.001330,NaN,0.050263,-0.002334,-0.008548,-0.004607,-0.019582,-0.024106,-0.026716,-0.020123,-0.006846,-0.000478,-0.007782
JobInvolvement,0.029820,0.039062,0.046135,-0.024586,0.008783,0.042438,-0.002655,NaN,-0.006888,-0.008278,0.042861,1.000000,-0.012630,0.006616,-0.021476,-0.038497,-0.015271,-0.016322,0.015012,-0.017205,-0.029071,0.034297,NaN,0.021523,-0.005533,-0.015338,-0.014617,-0.021355,0.008717,-0.024184,0.025976,-0.130016,0.017960,-0.003507
JobLevel,0.509604,0.019311,0.002966,0.101963,0.005303,0.101589,-0.044933,NaN,-0.018519,0.001212,-0.027853,-0.012630,1.000000,-0.085457,-0.001944,-0.076769,0.950300,0.039563,0.142501,-0.034730,-0.021222,0.021642,NaN,0.013984,0.782208,-0.018191,0.037818,0.534739,0.389447,0.353885,0.375281,-0.169105,-0.039403,0.000544
JobRole,-0.122427,0.002724,-0.009472,0.662431,-0.001015,0.004236,0.015599,NaN,-0.010336,-0.017321,-0.018861,0.006616,-0.085457,1.000000,0.017537,0.067957,-0.093951,0.005290,-0.056368,-0.000848,-0.024233,-0.020218,NaN,-0.019171,-0.145439,0.001342,0.027764,-0.083657,-0.028354,-0.046384,-0.041150,0.067151,-0.039723,0.040662
JobSatisfaction,-0.004892,-0.033962,0.030571,0.021001,-0.003669,-0.011296,-0.034401,NaN,-0.046247,-0.006784,-0.071335,-0.021476,-0.001944,0.017537,1.000000,0.024360,-0.007157,0.000644,-0.055699,0.020002,0.002297,-0.012454,NaN,0.010690,-0.020185,-0.005779,-0.019459,-0.003803,-0.002305,-0.018214,-0.027656,-0.103481,0.033252,0.024539
MaritalStatus,-0.095029,0.024001,-0.069586,0.056073,-0.014437,0.004053,0.014420,NaN,-0.008155,-0.003593,-0.017861,-0.038497,-0.076769,0.067957,0.024360,1.000000,-0.075450,0.023937,-0.035505,0.012492,0.005207,0.022549,NaN,-0.662577,-0.077886,0.010629,0.014708,-0.059986,-0.065822,-0.030915,-0.038570,0.162070,-0.047183,-0.017521
MonthlyIncome,0.497855,0.034319,0.007707,0.053130,-0.017014,0.094961,-0.041070,NaN,-0.014829,-0.006259,-0.015794,-0.015271,0.950300,-0.093951,-0.007157,-0.075450,1.000000,0.034814,0.149515,-0.027269,-0.017120,0.025873,NaN,0.005408,0.772893,-0.021736,0.030683,0.514285,0.363818,0.344978,0.344079,-0.159840,-0.031858,0.006089
MonthlyRate,0.028051,-0.014107,-0.032182,0.023642,0.027473,-0.026084,-0.027182,NaN,0.012648,0.037600,-0.015297,-0.016322,0.039563,0.005290,0.000644,0.023937,0.034814,1.000000,0.017521,-0.006429,-0.009811,-0.004085,NaN,-0.034323,0.026442,0.001467,0.007963,-0.023655,-0.012815,0.001567,-0.036746,0.015170,-0.041482,0.021431
NumCompaniesWorked,0.299635,0.020875,0.038153,-0.035882,-0.029251,0.126317,-0.008663,NaN,-0.001251,0.012594,0.022157,0.015012,0.142501,-0.056368,-0.055699,-0.035505,0.149515,0.017521,1.000000,-0.010238,-0.014095,0.052733,NaN,0.030075,0.237639,-0.066054,-0.008366,-0.118421,-0.090754,-0.036814,-0.110319,0.043494,-0.039147,-0.020786
PercentSalaryHike,0.003634,-0.029377,0.022704,-0.007840,0.040235,-0.011111,-0.011214,NaN,-0.012944,-0.031701,-0.009062,-0.017205,-0.034730,-0.000848,0.020002,0.012492,-0.027269,-0.006429,-0.010238,1.000000,0.773550,-0.040490,NaN,0.007528,-0.020608,-0.005221,-0.003280,-0.035991,-0.001520,-0.022154,-0.011985,-0.013478,0.002733,-0.005433
PerformanceRating,0.001904,-0.026341,0.000473,-0.024604,0.027110,-0.024539,-0.005614,NaN,-0.020359,-0.029548,-0.002172,-0.029071,-0.021222,-0.024233,0.002297,0.005207,-0.017120,-0.009811,-0.014095,0.773550,1.000000,-0.031351,NaN,0.003506,0.006744,-0.015579,0.002572,0.003435,0.034986,0.017896,0.022827,0.002889,-0.013859,0.004369
RelationshipSatisfaction,0.053535,-0.035986,0.007846,-0.022414,0.006557,-0.009118,-0.004378,NaN,-0.069861,0.007665,0.001330,0.034297,0.021642,-0.020218,-0.012454,0.022549,0.025873,-0.004085,0.052733,-0.040490,-0.031351,1.000000,NaN,-0.045952,0.024054,0.002497,0.019604,0.019367,-0.015123,0.033493,-0.000867,-0.045872,0.022868,0.048493
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,0.037510,-0.016727,0.042143,-0.012193,0.044872,0.018422,-0.016185,NaN,0.062227,0.003432,0.050263,0.021523,0.013984,-0.019171,0.010690,-0.662577,0.005408,-0.034323,0.030075,0.007528,0.003506,-0.045952,NaN,1.000000,0.010136,0.011274,0.004129,0.015058,0.050818,0.014352,0.024698,-0.137145,0.012716,-0.000449
TotalWorkingYears,0.680381,0.034226,0.014515,-0.015762,0.004628,0.148280,-0.027848,NaN,-0.014365,-0.002693,-0.002334,-0.005533,0.782208,-0.145439,-0.020185,-0.077886,0.772893,0.026442,0.237639,-0.020608,0.006744,0.024054,NaN,0.010136,1.000000,-0.035662,0.001008,0.628133,0.460365,0.404858,0.459188,-0.171063,-0.046881,0.012754
TrainingTimesLastYear,-0.019621,0.015240,0.002453,0.036875,-0.036942,-0.025100,0.049195,NaN,0.023603,-0.019359,-0.008548,-0.015338,-0.018191,0.001342,-0.005779,0.010629,-0.021736,0.001467,-0.066054,-0.005221,-0.015579,0.002497,NaN,0.011274,-0.035662,1.000000,0.028072,0.003569,-0.005738,-0.002067,-0.004096,-0.059478,-0.038787,-0.079113
WorkLifeBalance,-0.021490,-0.011256,-0.037848,0.026383,-0.026556,0.009819,0.041191,NaN,0.010309,0.027627,-0.004607,-0.014617,0.037818,0.027764,-0.019459,0.014708,0.030683,0.007963,-0.008366,-0.003280,0.002572,0.019604,NaN,0.004129,0.001008,0.028072,1.000000,0.012089,0.049856,0.008941,0.002759,-0.063939,-0.002753,-0.027092
YearsAtCompany,0.311309,-0.014575,-0.034055,0.022920,0.009508,0.069114,-0.018692,NaN,-0.011240,0.001458,-0.019582,-0.021355,0.534739,-0.083657,-0.003803,-0.059986,0.514285,-0.023655,-0.118421,-0.035991,0.003435,0.019367,NaN,0.015058,0.628133,0.003569,0.012089,1.000000,0.758754,0.618409,0.769212,-0.134392,-0.029747,-0.011687
YearsInCurrentRole,0.212901,-0.011497,0.009932,0.056315,0.018845,0.060236,-0.010506,NaN,-0.008416,0.018007,-0.024106,0.008717,0.389447,-0.028354,-0.002305,-0.065822,0.363818,-0.012815,-0.090754,-0.001520,0.034986,-0.015123,NaN,0.050818,0.460365,-0.005738,0.049856,0.758754,1.000000,0.548056,0.714365,-0.160545,-0.041483,-0.029758
YearsSinceLastPromotion,0.216513,-0.032591,-0.033229,0.040061,0.010029,0.054254,0.002326,NaN,-0.009019,0.016194,-0.026716,-0.024184,0.353885,-0.046384,-0.018214,-0.030915,0.344978,0.001567,-0.036814,-0.022154,0.017896,0.033493,NaN,0.014352,0.404858,-0.002067,0.008941,0.618409,0.548056,1.000000,0.510224,-0.033019,-0.026985,-0.012239
YearsWithCurrManager,0.202089,-0.022636,-0.026363,0.034282,0.014406,0.069065,-0.004130,NaN,-0.009197,-0.004999,-0.020123,0.025976,0.375281,-0.041150,-0.027656,-0.038570,0.344079,-0.036746,-0.110319,-0.011985,0.022827,-0.000867,NaN,0.024698,0.459188,-0.004096,0.002759,0.769212,0.714365,0.510224,1.000000,-0.156199,-0.030599,-0.041586
Attrition,-0.159205,0.000074,-0.056652,0.063991,0.077924,-0.031373,0.026846,NaN,-0.010577,-0.103369,-0.006846,-0.130016,-0.169105,0.067151,-0.103481,0.162070,-0.159840,0.015170,0.043494,-0.013478,0.002889,-0.045872,NaN,-0.137145,-0.171063,-0.059478,-0.063939,-0.134392,-0.160545,-0.033019,-0.156199,1.000000,0.029453,0.246118
Gender,-0.036311,-0.032981,-0.011716,-0.041583,-0.001851,-0.016547,-0.002504,NaN,0.022556,0.000508,-0.000478,0.017960,-0.039403,-0.039723,0.033252,-0.047183,-0.031858,-0.041482,-0.039147,0.002733,-0.013859,0.022868,NaN,0.012716,-0.046881,-0.038787,-0.002753,-0.029747,-0.041483,-0.026985,-0.030599,0.029453,1.000000,-0.041924
OverTime,0.028062,0.016543,0.009135,0.007481,0.025514,-0.020322,0.002259,NaN,-0.024037,0.070132,-0.007782,-0.003507,0.000544,0.040662,0.024539,-0.017521,0.006089,0.021431,-0.020786,-0.005433,0.004369,0.048493,NaN,-0.000449,0.012754,-0.079113,-0.027092,-0.011687,-0.029758,-0.012239,-0.041586,0.246118,-0.041924,1.000000

In [17]:
employee_data_dummies['JobLevel'].unique()

array([2, 1, 3, 4, 5])

After analysing the results, we have determined that the following features will be removed:

*   DailyRate: Low values, available in other features.
*   EmployeeNumber: A special case, has nothing to do with the employee and is only used for administrative issues.
*   HourlyRate: Available in other features.
*   MonthlyRate: Available in other features, better to use MonthlyIncome.
*   JobLevel: Does not contain a lot of information and is not connected another valuable feature.
*   MaritalStatus: More to do with outside life, can't really be connected to any other features.
*   PerformanceRating: Has a strong correlation between PercentSalaryHike.
*   RelationshipSatisfaction: To do with outside life, can't really be connected to other features.
*   NumCompaniesWorked: Has correlation to working years and not really useful for understanding why people leave.
*   TrainingTimesLastYear: Has no correlation to other features and not relevant to Attrition.
*   TotalWorkingYears: Not relevant as we have age (better indicator for retirment) and years at company.
*   YearsInCurrentRole: We have the employees role and their years since last promotion.

In [19]:
#Drop columns
employee_data_dummies.drop(columns=['StandardHours', 'EmployeeCount', 'DailyRate',
                                    'EmployeeNumber', 'HourlyRate', 'MonthlyRate',
                                    'JobLevel', 'MaritalStatus', 'PerformanceRating',
                                    'RelationshipSatisfaction', 'NumCompaniesWorked',
                                    'TrainingTimesLastYear', 'TotalWorkingYears',
                                    'YearsInCurrentRole'], inplace = True)

## Planned Algorithms for Supervised ML

*   Linear Support-vector machines
*   KNeighbors Classifiers
*   Ensemble Classifiers